.text-title {
    background-color: rgba(0, 0, 0, 0.18);
    font-weight: lighter;
    padding-left: 10px;
    position: absolute;
    top: 25%;
    width: 65em;
    right: 0;
}

.text-con {
    height: 100%;
    padding: 0 !important;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.logo-title {
    position: absolute;
    width: 100px;
    height: 100px;
    box-sizing: content-box;
    margin-top: 4%;
    margin-left: 4%;
    background-color: white;
    border-radius: 50% 0 0 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    background-image: url(images/lh.png);
    background-position: center center;
}

.show-text-appear {
    animation: Begin 7000ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    -webkit-animation: Begin 7000ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

@keyframes Begin {
    from {
        transform: translate3d(50vw, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes Begin {
    from {
        transform: translate3d(50vw, 0, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
    }
}

.show-logo-appear {
    animation: Slide 5500ms linear forwards;
    -o-animation: Slide 5500ms linear forwards;
    -moz-animation: Slide 5500ms linear forwards;
    -webkit-animation: Slide 5500ms linear forwards;
}

@keyframes Slide {
    0% {
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        border-width: 150vw;
        transform: translate(-10%, -50%);
    }
    35% {
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        border-width: 150vw;
        transform: translate(-51%, -50%);
    }
    40% {
        transform: translate(-49.5%, -50%);
    }
    45% {
        transform: translate(-50%, -50%);
    }
    90% {
        border-radius: 50%;
        border-style: solid;
        border-color: white;
        border-width: 0;
    }
    100% {
        border-radius: 50% 0 0 50%;
        border-style: solid;
        border-color: white;
    }
}

.menu {
    position: absolute;
    left: 100px;
    height: 100%;
    width: 90vw;
    background-color: white;
    overflow: hidden;
}

.text-menu{
    line-height: 1;     
    width: 100%;
    font-weight: 300;
    color: #FF9800
}

.show-menu-appear {
    animation: ShowMenu 6000ms linear;
    -o-animation: ShowMenu 6000ms linear;
    -moz-animation: ShowMenu 6000ms linear;
    -webkit-animation: ShowMenu 6000ms linear;
}

@keyframes ShowMenu {
    0% {
        width: 0;
    }
    92% {
        width: 0;
    }
    100% {
        width: 90vw;
    }
}

.show-text-menu-appear {
    animation: ShowTextMenu 7000ms linear;
    -o-animation: ShowTextMenu 7000ms linear;
    -moz-animation: ShowTextMenu 7000ms linear;
    -webkit-animation: ShowTextMenu 7000ms linear;
}

@keyframes ShowTextMenu {
    0% {
       left:-20em;
    }
     86% {
       left:-20em;
    }
    100% {
      left: 1em;
    }
}

.text-brand {
    background-color: rgba(0, 0, 0, 0.70);
    color: white;
    font-weight: bold;
    width: 100vw;
    margin-top: 80px;
    text-indent: 20px;
}

.show-text-brand-appear {
    animation: Anim 2000ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
}

@keyframes Anim {
    0% {
        transform: translate3d(100vw, 0, 0);
        background-color: rgba(0, 0, 0, 0);
    }
    50% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.70);
    }
}